allure-pytest
allure-python-commons
annotated-types
attrs
certifi
charset-normalizer
colorama
Faker
greenlet
idna
iniconfig
packaging
playwright
pluggy
psycopg2
pydantic
pydantic_core
pyee
Pygments
pytest
pytest-base-url
pytest-check
pytest-mock
pytest-playwright
pytest-rerunfailures
python-dotenv
python-slugify
requests
SQLAlchemy
text-unidecode
typing-inspection
typing_extensions
tzdata
urllib3
testit-adapter-pytest